GCLOUD_COMMAND_EXPORT="gcloud sql export sql"
GCLOUD_COMMAND_EXPORT_MSSQL="gcloud sql export bak"
GCLOUD_COMMAND_CLONE="gcloud sql instances clone"
GCLOUD_COMMAND_DELETE="gcloud sql instances delete"
GCLOUD_COMMAND_OPERATION="gcloud sql operations list"
GCLOUD_COMMAND_INSTANCES="gcloud sql instances list"
GCLOUD_COMMAND_PATCH="gcloud sql instances patch" 
GCLOUD_COMMAND_GRANT="gcloud storage buckets add-iam-policy-binding"
GCLOUD_COMMAND_RSYNC="gcloud storage rsync"
GCLOUD_COMMAND_LS="gcloud storage ls"
GCS_BASE="gs://"
GCS_TEMP_PATH="gs://"
GCS_PROD_PATH=""
GCS_ROLES="roles/storage.objectUser"
GCE_PATH="archivedb"
GCE_ENC_PATH="archive_encrypt"
CLOUDSQL_PREFIX="sandbox-backup"
VAULT_URL=""
VAULT_TOKEN=""
USER_DB_DISCOVERY=""
PASS_DB_DISCOVERY=""
HOST_DB_DISCOVERY=""
PORT_DB_DISCOVERY=""
USER_DB_AGENT=""
PASS_DB_AGENT=""
DB_NAME="database_discovery"
ALIAS=""
AUTH_EMAIL=""
SERVICE_ACCOUNT="service_account/<your_service_account>.json"
